include README.md
include LICENSE
include NOTICE
include THIRD_PARTY_NOTICES.md
recursive-include licenses *
recursive-include autowk/bin *
recursive-exclude autowk/bin *.pdb
global-exclude *.py[cod]
global-exclude __pycache__
